:root {
    --button-color1: hsl(171, 66%, 44%);
    --button-color2: hsl(233, 100%, 69%);
    --header-colors: hsl(210, 10%, 33%);
    --paragraph-color: hsl(201, 11%, 66%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

a {
    color: var(--paragraph-color);
    text-decoration: none;
    font-size: 12px;
}

body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.logo{
    width: 100px;
    margin: 45px 0;
}

h1, h2, h3{
    color: var(--header-colors);
    font-weight: 600;
}

p{
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 1.5;
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

.containerheading > p {
    line-height: 1.5;
    color: var(--paragraph-color);
    margin-bottom: 30px;
}

.links1, .container5buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button1, .button2{
    width: 175px;
    height: 40px;
    background-color: var(--button-color1);
    color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2px 1px hsl(171, 66%, 24%);
    font-weight: 600;
}

.button2{
    background-color: var(--button-color2);
    box-shadow: 0 2px 1px hsl(233, 89%, 61%);
}

.button1:hover{
    background-color: hsl(171, 66%, 60%);
    cursor: pointer;
}

.button2:hover{
    background-color: hsl(233, 89%, 75%);
    cursor: pointer;
}

.container2{
    margin-top: 100px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.container2heading > h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container2heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2heading > p {
    text-align: center;
    width: 40%;
}

.secondcontainer2 {
    display: flex;
    gap: 60px;
    margin-top: 60px;
}

.secondcontainer2 img {
    width: 100%;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;   
}

.content_details {
    width: 55%;
}

.content_details > h3 {
    margin-bottom: 10px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.container3 > h2 {
    margin-bottom: 10px;
}

.container3 > p {
    width: 40%;
    margin-bottom: 70px;
}

.accessimage img {
    width: 100%;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.container4heading > h2 {
    margin-bottom: 8px;
}

.container4heading > p {
    font-size: 13px;
    margin-bottom: 40px;
}

.workflow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    column-gap: 30px;
    margin: 40px;
}

.subworkflow > img {
    width: 13%;
    margin-bottom: 25px;
}

.subworkflow > h3 {
    margin-bottom: 10px;
}

.brandscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 90px;
}

.brandscontainer > img {
    width: 8%;
}

.container5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.container5 > h2 {
    margin-bottom: 10px;
}

.container5 > p {
    width: 65%;
    font-size: 14px;
    margin-bottom: 30px;
}

footer {
    background-color: hsl(201, 11%, 95%);
    padding: 30px 80px;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.fcontainer > img {
    width: 7%;
}

.links_container {
    display: flex;
    gap: 20px;
}


.sublinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sublinks a:hover {
    color: var(--button-color1);
}

.social_icons  {
    display: flex;
    gap: 20px;
}

.social_link a {
    color: var(--header-colors);
}

.social_link:hover i {
    color: var(--button-color1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {


    h1, h2 {
        line-height: 1.3;
    }

    body {
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .logo_container {
        margin-top: 100px;
    }

    .logo {
        width: 30%;
    }

    .logo_container, .main_container {
        padding: 0 30px;
    }

    .links1, .container5buttons {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .button1, .button2 {
        width: 100%;
        height: 50px;
    }

    .container2heading > p {
        width: 100%;
    }

    .secondcontainer2 {
        flex-direction: column;
        align-items: center;
    }

    .sub_container2 img {
    width: 100%;
    }

    .content_details {
        width: 100%;
        text-align: center;
    }

    .container3 > p {
        width: 100%;
    }

    .workflow {
        flex-direction: column;
        width: 100%;
    }

    .subworkflow {
        margin-top: 20px;
    }

    .subworkflow > img {
        width: 20%;
        margin-top: 20px;
    }

    .brandscontainer {
        flex-direction: column;
    }

    .brandscontainer > img {
        width: 45%;
    }

    .container5 > p {
        width: 100%;
    }


    .footercontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .fcontainer {
        flex-direction: column;
    }

    .fcontainer > img {
        width: 30%;
        margin: 30px 0;
    }

    .links_container {
        flex-direction: column;
        align-items: center;
    }

    .sublinks {
        gap: 15px;
    }

    .sublinks > a {
        text-align: center;
    }

    .social_icons {
        margin-bottom: 30px;
    }

    .social_link {

    }
}